<main>
    <section id= "mainsection">
      <div class="center-block">
          <h1 class="text-center">Tell us about an interesting event.</h1>
          <div class="col-md-offset-5">
              <a class="btn btn-info btn-lg" href="">Begin Your Tale</a>
          </div>
      </div>
      <br>
      <br>
      <br>
      <br>
    </section>
      <section>
        <div class="center-block">
          <h1 class="text-center">Write and Share all of your adventures with us.</h1>
          <h4 class="text-center">Journal will create a digital log of your adventures and conquests.</h4>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </section>
      <section id="backgroundpic">
        <div class="center-block">
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </section>
      <section id= "discsection">
        <div class="center-block">
            <h1 class="text-center">Start your Adventure.</h1>
            <div class="col-md-offset-5">
                <a class="btn btn-info btn-lg" href="">Enter a new world.</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </section>
</main>
<footer class="center-block">
  <p class="text-center">A Rails Project</p>
</footer>
