<main>
    <section id= "mainsection">
      <div class="container-fluid center-block">
          <h1 class="text-center">About Us</h1>
          <div>
            <h4 class="text-center">We store our user's stories and memories to be shared with people around the world. Create a new story and share your experiance with us.</h4>
          </div>
      </div>
    </section>
    <section id= "whitespace">
      <div class="container-fluid center-block">
          <h1 class="text-center">Join our ranks of story tellers</h1>
          <div>
            <h4 class="text-center">Sign Up here to begin.</h5>
            </div>
            <div class="col-md-offset-4">
              <a class="btn btn-info btn-lg col-md-offset-2" href="">Sign Up</a>
          </div>
      </div>
    </section>
</main>
