// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mainsection {
  background-image: url("subtle-vertical-stripes.png");
  padding-bottom: 50px;
}


#whitespace{
  background-color: #FFFFFF;
  padding-bottom: 150px;
}

h4{
  padding-top: 50px;
  padding-bottom: 50px;
}
