// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mainsection {
  background-image: url("subtle-vertical-stripes.png");
  background-position: 100px 100px;
}

#backgroundpic {
  background-image: url("broadway.png");
}
