<!DOCTYPE html>
<html>
<head>
  <title>Journal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
</head>
    <nav class="navbar navbar-default">
      <div ng-app="journal" class="container-fluid">
        <div ng-controller="Pages" class="navbar-header">
          <span dropdown on-toggle="toggled(open)">
          <a class="navbar-brand" href id="simple-dropdown" dropdown-toggle>
            <img alt="Journal">
          </a>
          <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
            <li ng-repeat="choice in items">
              <a href>{{choice}}</a>
            </li>
          </ul>
        </span>
        </div>
      </div>
    </nav>
<body>

<%= yield %>

</body>
<footer class="center-block">
  <p class="text-center">A Rails Project</p>
</footer>
</html>
